.button{
    -fx-background-color:#76960b;
    -fx-background-radius: 20px;
    -fx-border-color: black;
    -fx-border-radius:20px;
    -fx-cursor:hand;
}
.button:hover{
    -fx-background-color: #87970c;
}
